<h1>Welcome to File Weight Watchers</h1>

<p>...because every little byte counts</p>

<div id="new-link">
	<form action="/session" method="POST" id="login-form">
		<label for="email">Email</label> <input type="text" name="email">
		<label for="password">Password</label> <input type="password" name="password">
		<span><input type="submit" value="Log in" class="button"></span>
	</form>
</div>